*{ 
    /* 글머리 제거 */
    list-style-type: none; 
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:"Nanum Gothic";
    font-size: 12px;
}  
a{ 
    /* a마크업의 밑줄제거,색상 검정*/
    text-decoration: none; 
    color: black;
}
/* 작업용 */
/* *{
    border: 1px solid red;
}  */
#W{
    width: 1450px;
    margin: 0 auto;
}
#C{
    width: 1100px;
    margin: 0 auto;
}
#CDD{
    font-size: 14px;
    padding: 20px 0px;
    margin: 10px 0px;
    color: #46433F;
}
#CDD a{
    font-size: 14px;
    color: #878787;
}
#CC{
    display: flex;
    justify-content: space-between;
}
#CCI img{
    width: 500px;
    height: 500px;
}
#CCJ{
    font-weight: bold;
    color: #1c1c1c;
    font-size: 22px;
}
#CCS{
    font-size: 14px;
    margin-top: 8px;
    color: #b5b5b5;
    line-height: 150.5%;
}
#CCP0{
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0px 5px 0px;
}
#CCP1{
    margin-right: 4px;
    font-size: 28px;
    font-weight: bold;
    color: rgb(0, 134, 90);
}
#CCP2{
    font-size: 28px;
    font-weight: bold;
}
#CCD{
    color:rgb(142, 141, 141);
    font-size: 16px;
    margin: 8px 0px 16px 0px;
    padding-bottom: 12px;
    text-decoration: line-through;
    border-bottom: 1px solid #f2f2f2;
}
#COW0{
    padding-bottom: 12px;
    border-bottom: 1px solid #f2f2f2;
}
.CO0{
    width: 550px;
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
}
.CO0 dt, .CO0 dd{
    font-size: 16px;
}
.CS0{
    font-size: 16px;
    width: 400px;
    height: 32px;
}
#COP{
    font-size: 16px;
    padding: 10px 0px;
}
#COP0{
    padding-bottom: 16px;
    border-bottom: 1px solid #f2f2f2;
}
#COP span{
    font-size: 16px;
    font-weight: bold;
}
#CS{
    padding: 10px 0px;
    position: relative;
}
#CS0{
    font-size: 16px;
}
#CSX a > img{
   width: 13px;
   height: 13px;
   position: absolute;
   right: 0px;
   top: 0px;
   background-color: white;
   display: inline-block;
   content: "";

}